body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px/1.5 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB', 'STHeiti', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    color: #333;
}
/* 去除列表默认样式 */
ul,
ol {
    list-style: none;
}
/* 去除默认的倾斜效果 */
em,
i {
    font-style: normal;
}
/* 去除a标签的默认下划线，并设置颜色 */
a {
    text-decoration: none;
    color: #333;
}
/* 设置img的垂直对齐方式，去除img默认下间隙 */
img {
    vertical-align: middle;
}
/* 去除input的默认样式 */
input {
    border: none;
    outline: none;
    color: #333;
}
/* 左浮动 */
.fl {
    float: left;
}
/* 有浮动 */
.fr {
    float: right;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}

